{{!< default}}
{{#page}}

    <article class="gh-article mt-0">
        <header class="container mb-6 text-center md:mb-8 gh-header">
            <h1 class="max-w-md mx-auto mb-2 text-3xl font-bold sm:leading-snug lg:max-w-3xl lg:text-5xl gh-title font-display">{{title}}</h1>
            {{#if custom_excerpt}}
                <p class="max-w-lg mx-auto mt-4 text-base text-gray-600 font-text">{{custom_excerpt}}</p>
            {{/if}}
        </header>

        <div class="container prose prose-lg md:prose-xl gh-content gh-canvas max-w-none">
            {{{content}}}
        </div>
    </article>

{{/page}}
